:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-text-color: #757575;
    --primary-black-color: #000000;
    --primary-white-color: #ffffff;
    --secondary-white-color: #ECECEC;
    --secondary-black-color: #2F303A;
    --secondary-bcg-color: #F5F4FA;
    --footer-bcg-color: #2F303A;
    --icons-color: #AFB1B8;
}